*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-----------formulario---------*/
    .section-div{
        display: flex;
        margin: 2% 2% 0 4%;;
    }
    .divH1{
        border: none;
    }
    h2{
        font-size: 30px;
        font-family: serif;
        color: white;
        width: 38%;
    }
    .divH1 p{
        width: 30%;
        color: white;
        font-size: 20px;
    }
    .divContenedor{
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100%; 
    }
    .formDiv{
        display: flex;
        height: 100%;
        width: 50%;
        flex-direction: column;
        font-size: 25px;
        font-family: serif;
        border-color: #2c353e;
        padding-left: 2%;
        padding-top: 1%;
    }
    form {
        height: 100%;
        align-content: center;
    }
    fieldset{ 
        display: flex;
        flex-direction: column;
        height: 95%;
        border-color: #2c353e;
        border-radius: 5px;
    }
    ::placeholder{
        color: white;
    }
    input[type=text]{
        background-color: #2c353e;
        color: white;
        width: 90%;
        padding: 12px 20px;
        margin: 30px 0 0 25px;
        border: none;
        border-bottom: 3px solid #d86b00;
        border-bottom-right-radius:5px ;
        border-bottom-left-radius: 5px;
    }
    input[type=mail]{
        background-color: #2c353e;
        color: white;
        width: 90%;
        padding: 12px 20px;
        margin: 30px 0 0 25px;
        border: none;
        border-bottom: 3px solid #d86b00;
        border-bottom-right-radius:5px ;
        border-bottom-left-radius: 5px;
    }
    input[type=number]{
        background-color: #2c353e;
        color: white;
        width: 90%;
        padding: 12px 20px;
        margin: 30px 0 0 25px;
        border: none;
        border-bottom: 3px solid #d86b00;
        border-bottom-right-radius:5px ;
        border-bottom-left-radius: 5px;
    }
    .labelMensaje{
        color: white;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 25px;
        font-family: serif;
        text-align: left;
    }
    textarea{
        height: 700px;
        width: 90%;
        margin-top: 10px;
        margin-left: 25px;
        font-family: serif solid;
        font-size: 25px;
        color: white;
        background-color: #2c353e;
        border: none;
        border-radius: 5px;
        resize: none;
    }
    input[type=submit]{
        background-color: #2c353e;
        color: #d86b00;
        width: 90%;
        margin: 5px 0 5px 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        text-align: center;
    }
    /*------mapa-------*/
    .mapa{
        display: flex;
        flex-direction: column;
        height: 90%;
        width: 100%;
        margin-left: 1%;
        align-items: center;
    }
    .divLabelMap{
        display: flex;
        font-size: 30px;
        color: white;
        text-align: left;
        height: 10%;
        margin-top: 5%;
        padding-bottom: 3%;
    }
    .mapaIframe{
        height: 750px;
        width: 600px;
    }
