h1{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 1%;
}
p{
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom: 2%;
}
.sectionMapa{
    height: 100vh;
    width: 100%;
}
.lineaSeperador{
    margin-top: 3%;
    border-bottom: 5px solid;
    color: white;
}
.cardMapaContenedor{
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
}
.cardMapa{
    display: flex;
    height: 350px;
    width: 250px;
    margin: 10px;
    border: #2c353e 5px solid;
    border-radius: 10px;
}
.cardMapaContenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardMapa img{
    display: flex;
    height: 150px;
    width: 100%;
    object-fit: contain;
}
.cardMapa p{
    width: 90%;
    font-size: 25px;
    text-align: left;
}
.buttonH1{
    border: none;
}
button{
    display: flex;
    background-color:#2c353e ;
    border-color: #2c353e solid;
    color: white ;
    width: 50%;
    cursor: pointer;
}
