*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #474E93;
}
.indexDiv{
    display: flex;
    flex-direction: row;
    border-color: #72BAA9;
    border-style: solid;
    border-radius: 5px;
    margin: 2% 2% 0 2%;
}
header .indexHover p{
    font-size: 25px;
    margin-top: 5%;
    margin-left: 5%;
}
header .indexHover a{
    text-decoration: none;
    color: #D5E7B5;
}
.logoDiv img{
    object-fit: contain;
    width: 25%;
}
ul li{
    list-style: none;
    display: inline-block;  
}
header ul li a{
    color: #D5E7B5;
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px; 
}
nav{
    margin-top: 2%;
    padding-left: 15%;
} 
a:hover{
    text-decoration: underline;
}
footer{
    height: 70px;
    width: 100%;
    background-color: #72BAA9;
    color: #7E5CAD;
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
}
