*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-size: 25px;
    padding-bottom: 2%;
    align-items: center;
    border-bottom: 5px solid #72BAA9;
    text-align: center;
    margin: 2% 2% 0 2%;
}
section{
    display: flex;
    width: 100%;
}
.contenedor{
    display: flex;
    flex-direction: row;
    height: 80%;
    width: 100%;
}
.parrafo{
    display: flex;
    height: 100%;
    width: 40%;
    text-align: justify;
    margin-top: 2% ;
    margin-left: 2%;
}
p{
    font-size: 30px;
}
.shopImgDiv{
    height: 60%;
    width: 55%;
    margin-top: 2%;
    padding: 0 0 0 2%;
}
.shopImgDiv img{
    height: 100%;
    width: 100%; 
    object-fit: cover;  
}
.section1{
    display: flex;
    height: 60vh;      
    width: 100%;
}
.cardContenedor{
    display: flex;
    flex-direction: wrap;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}
.card{
    display: flex;
    height: 400px;
    width: 350px;
    margin: 10px;
    border: #72BAA9 5px solid;
}
